#root {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  width: 100%;
  height: 100%;
  background-image: url("./components/weatherpic.jpg");
  background-repeat: no-repeat;
  /* background-size: none; */
}

.header {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 6vh;
  align-items: center;
  font-size: 2rem;
  color: rgb(255, 255, 255);
  border-bottom: 5px solid rgb(255, 255, 255);
}

.convert-F {
  margin-left: 33%;
  width: 35px;
  border-radius: 20px;
}
.convert-C {
  width: 35px;
  border-radius: 20px;
}

.storeLocation {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 10px;
  margin-left: 30.5%;
  width: 40vw;
  height: 30px;
  border-radius: 5px;
}

.items:hover {
  font-weight: bolder;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
  font-size: 20px;
  cursor: pointer;
  color: rgb(255, 255, 255);
}
.app-body {
  display: flex;
  margin-left: 500px;
  margin-top: 10px;
  width: 70%;
  flex-direction: column;
}

.cityBox {
  display: flex;
  text-align: center;
  width: 37vw;
  height: 80px;

  font-size: 1rem;
  border-radius: 10px;
  color: black;
  background-color: rgb(230, 186, 248);
}

.suggestionWrapper {
  /* height: 20vh; */
  width: 37vw;
  overflow-y: scroll;
}

.suggestion:hover {
  background-color: rgb(166, 172, 172);
  color: rgb(150, 10, 45);
  cursor: pointer;
}

.suggestion {
  width: 35.8vw;
  background-color: white;
  color: rgb(0, 0, 0);
  font-weight: bold;
  transition: 0.2s ease-in;
  border-radius: 10px;
}
